# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\项目部滴作业\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
