<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>打卡签到</title>
    <link rel="stylesheet" href="../css/打卡界面.css">
</head>
<body>
    <div class="all">
        <div class="left">
            <img class="headback" src="../img/headback.png" alt="">
            <img class="head" src="../img/head.png" alt="">
            <p class="name">Wellcome</p>
            <form role="form" action="/user/userUpdate">
            <button class="change" type="submit1">
                修改密码
            </button>
            </form>
            <img class="stripe" src="../img/信息.png" alt="">
            <h2>HELLO! </h2>
            <h3>NICE TO MEET YOU</h3>
        </div>
        <div class="right">
            <img class="tlt" src="../img/tlt.png" alt="">
            <form action="/user/userSuccess" >
            <button  class="btn"></button>
                </form>
            <img class="line" src="../img/line.png" alt="">
            <div class="data">
                <table cellpadding="10" width="870" height="170px">
                    <tbody>
                        <tr>
                            <th>签到日期</th>
                            <th>签到时间</th>
                        </tr>
                    </tbody>
                </table> 
                <img class="icon" src="../img/01.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>