<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>错误</title>
    <link rel="stylesheet" href="../css/错误界面.css">
</head>
<body>
    <div class="all">
        <div class="left">
            <img class="headback" src="../img/headback.png" alt="">
            <img class="head" src="../img/head.png" alt="">
            <p class="name">your name</p>
            <img class="stripe" src="../img/信息.png" alt="">
            <button type="submit"  class="submit">
                学号未知，未查询到姓名。
                点击此处重新登录
            </button>
        </div>
        <div class="right">
            <img class="tlt" src="../img/tlt.png" alt="">
            <button class="btn"></button>
            <img class="line" src="../img/line.png" alt="">
            <div class="data">
                <table cellpadding="10" width="870" height="170px">
                    <tbody>
                        <tr>
                            <th>签到日期</th>
                            <th>签到时间</th>
                        </tr>
                    </tbody>
                </table> 
                <img class="icon" src="../img/01.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>